Initial config  ################################################

In [87]:
docPath = "/Users/s96681/works/Trainning/Python/pandas/docs/"
global docPath

###############################################################
###############################################################

In [80]:
import pandas as pd
ps = pd.Series([10, 20, 30, 40])

In [1]:
pip list

Package                        Version
------------------------------ ------------
anyio                          4.0.0
appnope                        0.1.3
argon2-cffi                    23.1.0
argon2-cffi-bindings           21.2.0
arrow                          1.2.3
asttokens                      2.4.0
async-generator                1.10
async-lru                      2.0.4
attrs                          23.1.0
Babel                          2.12.1
backcall                       0.2.0
beautifulsoup4                 4.12.2
bleach                         6.0.0
certifi                        2022.12.7
cffi                           1.15.1
charset-normalizer             3.2.0
comm                           0.1.4
debugpy                        1.8.0
decorator                      5.1.1
deepdiff                       6.3.1
defusedxml                     0.7.1
exceptiongroup                 1.0.4
executing                      1.2.0
fastjsonschema                 2.18.0
fqdn                           1.5.1
h11                            0.14.0
idna                           3.4
importlib-metadata             6.8.0
ipykernel                      6.25.2
ipython                        8.15.0
ipython-genutils               0.2.0
ipywidgets                     8.1.1
isoduration                    20.11.0
jedi                           0.19.0
Jinja2                         3.1.2
json5                          0.9.14
jsonpointer                    2.4
jsonschema                     4.19.1
jsonschema-specifications      2023.7.1
jupyter                        1.0.0
jupyter_client                 8.3.1
jupyter-console                6.6.3
jupyter_core                   5.3.1
jupyter-events                 0.7.0
jupyter-lsp                    2.2.0
jupyter_server                 2.7.3
jupyter_server_terminals       0.4.4
jupyterlab                     4.0.6
jupyterlab-pygments            0.2.2
jupyterlab_server              2.25.0
jupyterlab-widgets             3.0.9
MarkupSafe                     2.1.3
matplotlib-inline              0.1.6
mistune                        3.0.1
nbclient                       0.8.0
nbconvert                      7.8.0
nbformat                       5.9.2
nest-asyncio                   1.5.8
notebook                       7.0.4
notebook_shim                  0.2.3
numpy                          1.26.0
ordered-set                    4.1.0
outcome                        1.2.0
overrides                      7.4.0
packaging                      23.1
pandas                         2.1.1
pandocfilters                  1.5.0
parso                          0.8.3
pexpect                        4.8.0
pickleshare                    0.7.5
pip                            23.2.1
platformdirs                   3.10.0
prometheus-client              0.17.1
prompt-toolkit                 3.0.39
psutil                         5.9.5
ptyprocess                     0.7.0
pure-eval                      0.2.2
pycparser                      2.21
Pygments                       2.16.1
PyPDF2                         3.0.1
PySocks                        1.7.1
python-dateutil                2.8.2
python-json-logger             2.0.7
pytz                           2023.3.post1
PyYAML                         6.0.1
pyzmq                          25.1.1
qtconsole                      5.4.4
QtPy                           2.4.0
referencing                    0.30.2
requests                       2.31.0
rfc3339-validator              0.1.4
rfc3986-validator              0.1.1
robotframework                 6.0.1
robotframework-pythonlibcore   4.0.0
robotframework-seleniumlibrary 6.0.0
rpds-py                        0.10.3
selenium                       4.7.2
Send2Trash                     1.8.2
setuptools                     49.2.1
six                            1.16.0
sniffio                        1.3.0
sortedcontainers               2.4.0
soupsieve                      2.5
stack-data                     0.6.2
terminado                      0.17.1
tinycss2                       1.2.1
tomli                          2.0.1
tornado                        6.3.3
traitlets                      5.10.0
trio                           0.22.0
trio-websocket                 0.9.2
typing_extensions              4.6.2
tzdata                         2023.3
uri-template                   1.3.0
urllib3                        1.26.13
wcwidth                        0.2.6
webcolors                      1.13
webencodings                   0.5.1
websocket-client               1.6.3
widgetsnbextension             4.0.9
wsproto                        1.2.0
xlrd                           2.0.1
xmltodict                      0.13.0
zipp                           3.17.0
Note: you may need to restart the kernel to use updated packages.

In [81]:
ps

0    10
1    20
2    30
3    40
dtype: int64

ps[1]

In [82]:
ps[1]

20

In [83]:
ps[2]

30

Data Frame

In [84]:
import pandas as pd
datas = [10, 20, 30, 40, 50] ### List

In [85]:
df = pd.DataFrame(datas)
df

    0
0  10
1  20
2  30
3  40
4  50

In [86]:
datas_tp = (59, 60, 25, 35) ### tuple

In [87]:
cols = ['อายุ'] ### ต้องเป็น list เท่านั้น
df = pd.DataFrame(datas_tp, columns = cols)
df

   อายุ
0    59
1    60
2    25
3    35

Data Frame หลายมิติ

In [88]:
import pandas as pd
datas = [["คีย์บอร์ด", "IT", 4000], ["ตุ๊กตา", "ของเล่น", 500], ["เมาท์", "IT", 300]]

In [89]:
cols = ["ชื่อสินค้า", "หมวดหมู่", "ราคา"]
df = pd.DataFrame(datas, columns=cols)

In [90]:
df = pd.DataFrame(datas)

In [91]:
df

           0        1     2
0  คีย์บอร์ด       IT  4000
1     ตุ๊กตา  ของเล่น   500
2      เมาท์       IT   300

Data Frame from Lists by zip

In [92]:
import pandas as pd
product1 = ["คีย์บอร์ด", "IT", 4000]
product2 = ["ตุ๊กตา", "ของเล่น", 500]
product3 = ["เมาส์", "IT", 300 ]
datas = list(zip(product1, product2, product3))

In [93]:
cols = ["ชื่อสินค้า", "หมวดหมู่", "ราคา"]
df = pd.DataFrame(datas, columns=cols)

In [94]:
df

  ชื่อสินค้า หมวดหมู่   ราคา
0  คีย์บอร์ด   ตุ๊กตา  เมาส์
1         IT  ของเล่น     IT
2       4000      500    300

In [95]:
name = ["คีย์บอร์ด", "ตุ๊กตา", "เมาส์"]
category = ["IT", "ของเล่น", "IT"]
price = [400, 500, 300]
datas = list(zip(name, category, price))

In [96]:
cols = ["ชื่อสินค้า", "หมวดหมู่", "ราคา"]
df = pd.DataFrame(datas, columns=cols)

In [97]:
df

  ชื่อสินค้า หมวดหมู่  ราคา
0  คีย์บอร์ด       IT   400
1     ตุ๊กตา  ของเล่น   500
2      เมาส์       IT   300

Data Frame by Dictionary

In [98]:
import pandas as pd
products = [
    {"Name": "คีย์บอร์ด", "Category":"อุปกรณ์", "Price":500},
    {"Name": "เมาส​์", "Category": "อุปกรณ์คอม", "Price":300},
    {"Name": "ตุ๊กตา", "Category": "ของเล่น", "Price":9000}
]

In [99]:
pf = pd.DataFrame(products)

In [100]:
pf.set_index(["Name"],inplace=True) ### เปลี่ยนหมายเลข index เป็น Name , inplace เป็นการนำค่าที่ set ไปทับใน data Frame จะทำให้การแสดงผลจะไม่แสดงหมายเลข index ที่ระบบ gen ให้

In [101]:
pf

             Category  Price
Name
คีย์บอร์ด     อุปกรณ์    500
เมาส​์     อุปกรณ์คอม    300
ตุ๊กตา        ของเล่น   9000

Data Frame by Series

In [6]:
import pandas as pd
name = ["คีย์บอร์ด", "ตุ๊กตา", "Iphone14"]
category = ["อุปกรณ์คอม", "ของเล่น", "มือถือ"]
price = [1200, 900, 400000]

In [7]:
name_series=pd.Series(name)
category_series=pd.Series(category)
price_series=pd.Series(price)

In [8]:
frame = {
    "ชื่อสินค้า":name_series,
    "หมวดหมู่":category_series,
    "ราคา":price_series
}

In [9]:
pf = pd.DataFrame(frame)

Data Frame To CSV

In [84]:
global docPath
pf.to_csv(docPath+"products.csv", header=True, index=False)

In [85]:
pf.to_csv(docPath+"products_headless.csv", header=False, index=True)

Data Frame From CSV

In [86]:
import pandas as pd
pf = pd.read_csv(docPath+"products.csv", encoding="utf-8")

In [109]:
pf

  ชื่อสินค้า    หมวดหมู่    ราคา
0  คีย์บอร์ด  อุปกรณ์คอม    1200
1     ตุ๊กตา     ของเล่น     900
2   Iphone14      มือถือ  400000

Data Frame From CSV (อ่านเฉพาะบาง Columns)

In [88]:
import pandas as pd
cols = ["ชื่อสินค้า", "ราคา"]
df = pd.read_csv(docPath+"products.csv", encoding="utf-8", usecols=cols)

In [19]:
df

  ชื่อสินค้า    ราคา
0  คีย์บอร์ด    1200
1     ตุ๊กตา     900
2   Iphone14  400000

Data Frame read CSV แต่กำหนด header

In [89]:
import pandas as pd
colsName = ["Name", "category", "Price"]
df = pd.read_csv(docPath+"products.csv", encoding="utf-8", names=colsName)

In [90]:
df

         Name    category   Price
0  ชื่อสินค้า    หมวดหมู่    ราคา
1   คีย์บอร์ด  อุปกรณ์คอม    1200
2      ตุ๊กตา     ของเล่น     900
3    Iphone14      มือถือ  400000

Data Frame read from excel

In [91]:
import pandas as pd
dataf = pd.read_excel(docPath+'dataupdate.xlsx',sheet_name='weather', index_col="Day")
dataf

            Temperature  WindSpeed    Event
Day
2020-12-01           30          9  แดดร้อน
2020-12-02           28          8   เมฆมาก
2020-12-03           27          4     ฝนตก
2020-12-04           19          3  แดดร้อน
2020-12-05           20          5   เมฆมาก
2020-12-06           25          6     ฝนตก
2020-12-07           36          4     ฝนตก
2020-12-08           28          6     ฝนตก
2020-12-09           17          5   เมฆมาก
2020-12-10           24          6  แดดร้อน
2020-12-11           26          4     ฝนตก
2020-12-12           27          9  แดดร้อน
2020-12-13           30          2  แดดร้อน
2020-12-14           31          5   เมฆมาก
2020-12-15           28          4  แดดร้อน
2020-12-16           27          7  แดดร้อน
2020-12-17           20          8     ฝนตก
2020-12-18           18          5     ฝนตก
2020-12-19           25          7  แดดร้อน
2020-12-20           28          4   เมฆมาก
2020-12-21           25          5   เมฆมาก
2020-12-22           38          2   เมฆมาก
2020-12-23           34          3     ฝนตก
2020-12-24           29          4     ฝนตก
2020-12-25           34          5  แดดร้อน
2020-12-26           25          8     ฝนตก
2020-12-27           28          9   เมฆมาก
2020-12-28           30          2   เมฆมาก
2020-12-29           31          1     ฝนตก
2020-12-30           35          2     ฝนตก

In [3]:
pip install openpyxl --upgrade   ### upgrade version of openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Using cached openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

Access DataFrame

In [23]:
dataf.head()

            Temperature  WindSpeed    Event
Day
2020-12-01           30          9  แดดร้อน
2020-12-02           28          8   เมฆมาก
2020-12-03           27          4     ฝนตก
2020-12-04           19          3  แดดร้อน
2020-12-05           20          5   เมฆมาก

In [24]:
dataf.tail(10)   # 10 แถวสุดท้าย

            Temperature  WindSpeed    Event
Day
2020-12-21           25          5   เมฆมาก
2020-12-22           38          2   เมฆมาก
2020-12-23           34          3     ฝนตก
2020-12-24           29          4     ฝนตก
2020-12-25           34          5  แดดร้อน
2020-12-26           25          8     ฝนตก
2020-12-27           28          9   เมฆมาก
2020-12-28           30          2   เมฆมาก
2020-12-29           31          1     ฝนตก
2020-12-30           35          2     ฝนตก

In [25]:
dataf.sample()  # สุ่มแสดงข้อมูล

            Temperature  WindSpeed   Event
Day
2020-12-09           17          5  เมฆมาก

In [26]:
dataf.describe() #นำข้อมูลมาสรุปผล เป็น count, min, max , percentie

       Temperature  WindSpeed
count    30.000000  30.000000
mean     27.433333   5.066667
std       5.237026   2.288402
min      17.000000   1.000000
25%      25.000000   4.000000
50%      28.000000   5.000000
75%      30.000000   6.750000
max      38.000000   9.000000

In [27]:
dataf.shape  # แสดงข้อมูล จำนวน row , columns

(30, 3)

In [28]:
dataf.columns

Index(['Temperature', 'WindSpeed', 'Event'], dtype='object')

In [29]:
dataf.values  # แสดงข้อมูลเป็น array

array([[30, 9, 'แดดร้อน'],
       [28, 8, 'เมฆมาก'],
       [27, 4, 'ฝนตก'],
       [19, 3, 'แดดร้อน'],
       [20, 5, 'เมฆมาก'],
       [25, 6, 'ฝนตก'],
       [36, 4, 'ฝนตก'],
       [28, 6, 'ฝนตก'],
       [17, 5, 'เมฆมาก'],
       [24, 6, 'แดดร้อน'],
       [26, 4, 'ฝนตก'],
       [27, 9, 'แดดร้อน'],
       [30, 2, 'แดดร้อน'],
       [31, 5, 'เมฆมาก'],
       [28, 4, 'แดดร้อน'],
       [27, 7, 'แดดร้อน'],
       [20, 8, 'ฝนตก'],
       [18, 5, 'ฝนตก'],
       [25, 7, 'แดดร้อน'],
       [28, 4, 'เมฆมาก'],
       [25, 5, 'เมฆมาก'],
       [38, 2, 'เมฆมาก'],
       [34, 3, 'ฝนตก'],
       [29, 4, 'ฝนตก'],
       [34, 5, 'แดดร้อน'],
       [25, 8, 'ฝนตก'],
       [28, 9, 'เมฆมาก'],
       [30, 2, 'เมฆมาก'],
       [31, 1, 'ฝนตก'],
       [35, 2, 'ฝนตก']], dtype=object)

Data Frame with Static

In [92]:
import pandas as pd
df = pd.read_excel(docPath+"dataupdate.xlsx",sheet_name="score", index_col="Name")

df

           Score  Age Gender Grade
Name
อาทิตย์       90   20    ชาย     A
นิตยา         75   18   หญิง     B
โจโจ้         88   22    ชาย     A
แก้มใส        65   19   หญิง     C
ตั๊กแตน       82   23   หญิง     A
เก๋ไก๋        50   20   หญิง     D
วุฒิชัย       45   17    ชาย     F
ชัยสิทธิ์     62   18    ชาย     C
ธนาวุฒิ       95   19    ชาย     A

In [31]:
df.Score

Name
อาทิตย์      90
นิตยา        75
โจโจ้        88
แก้มใส       65
ตั๊กแตน      82
เก๋ไก๋       50
วุฒิชัย      45
ชัยสิทธิ์    62
ธนาวุฒิ      95
Name: Score, dtype: int64

In [32]:
df.Score.max()

95

In [33]:
df.Score.min()

45

In [34]:
df.Score.std()

17.95209675157133

In [35]:
df.Score.count()

9

In [36]:
df.Score.sum()

652

In [37]:
df.Score.mean()

72.44444444444444

In [38]:
df.Score.sum() / df.Score.count()

72.44444444444444

In [39]:
df.dtypes

Score      int64
Age        int64
Gender    object
Grade     object
dtype: object

In [40]:
df.Grade = df.Grade.astype('category')
df.dtypes

Score        int64
Age          int64
Gender      object
Grade     category
dtype: object

Access DataFrame with Columns

In [93]:
import pandas as pd
df = pd.read_excel(docPath+"dataupdate.xlsx",sheet_name="weather", index_col="Day")

In [42]:
df.Temperature

Day
2020-12-01    30
2020-12-02    28
2020-12-03    27
2020-12-04    19
2020-12-05    20
2020-12-06    25
2020-12-07    36
2020-12-08    28
2020-12-09    17
2020-12-10    24
2020-12-11    26
2020-12-12    27
2020-12-13    30
2020-12-14    31
2020-12-15    28
2020-12-16    27
2020-12-17    20
2020-12-18    18
2020-12-19    25
2020-12-20    28
2020-12-21    25
2020-12-22    38
2020-12-23    34
2020-12-24    29
2020-12-25    34
2020-12-26    25
2020-12-27    28
2020-12-28    30
2020-12-29    31
2020-12-30    35
Name: Temperature, dtype: int64

In [43]:
df.Temperature[1:6]

Day
2020-12-02    28
2020-12-03    27
2020-12-04    19
2020-12-05    20
2020-12-06    25
Name: Temperature, dtype: int64

In [44]:
df.Temperature[0:6]

Day
2020-12-01    30
2020-12-02    28
2020-12-03    27
2020-12-04    19
2020-12-05    20
2020-12-06    25
Name: Temperature, dtype: int64

In [45]:
df[["Temperature", "Event"]]

            Temperature    Event
Day
2020-12-01           30  แดดร้อน
2020-12-02           28   เมฆมาก
2020-12-03           27     ฝนตก
2020-12-04           19  แดดร้อน
2020-12-05           20   เมฆมาก
2020-12-06           25     ฝนตก
2020-12-07           36     ฝนตก
2020-12-08           28     ฝนตก
2020-12-09           17   เมฆมาก
2020-12-10           24  แดดร้อน
2020-12-11           26     ฝนตก
2020-12-12           27  แดดร้อน
2020-12-13           30  แดดร้อน
2020-12-14           31   เมฆมาก
2020-12-15           28  แดดร้อน
2020-12-16           27  แดดร้อน
2020-12-17           20     ฝนตก
2020-12-18           18     ฝนตก
2020-12-19           25  แดดร้อน
2020-12-20           28   เมฆมาก
2020-12-21           25   เมฆมาก
2020-12-22           38   เมฆมาก
2020-12-23           34     ฝนตก
2020-12-24           29     ฝนตก
2020-12-25           34  แดดร้อน
2020-12-26           25     ฝนตก
2020-12-27           28   เมฆมาก
2020-12-28           30   เมฆมาก
2020-12-29           31     ฝนตก
2020-12-30           35     ฝนตก

In [46]:
df[["Temperature", "Event"]][1:2]

            Temperature   Event
Day
2020-12-02           28  เมฆมาก

Access DataFrame by Row

In [94]:
import pandas as pd
df = pd.read_excel(docPath+"dataupdate.xlsx",sheet_name="weather", index_col="Day")

In [48]:
df[1:4]

            Temperature  WindSpeed    Event
Day
2020-12-02           28          8   เมฆมาก
2020-12-03           27          4     ฝนตก
2020-12-04           19          3  แดดร้อน

In [50]:
df[0:3].WindSpeed  # ระบุชื่อ column : WindSpeed

Day
2020-12-01    9
2020-12-02    8
2020-12-03    4
Name: WindSpeed, dtype: int64

In [51]:
df.loc["2020-12-02"]["Event"] ## ระบุ index

'เมฆมาก'

In [52]:
df.loc["2020-12-02":"2020-12-15"]["Event"]  #ระบุ index แบบช่วง

Day
2020-12-02     เมฆมาก
2020-12-03       ฝนตก
2020-12-04    แดดร้อน
2020-12-05     เมฆมาก
2020-12-06       ฝนตก
2020-12-07       ฝนตก
2020-12-08       ฝนตก
2020-12-09     เมฆมาก
2020-12-10    แดดร้อน
2020-12-11       ฝนตก
2020-12-12    แดดร้อน
2020-12-13    แดดร้อน
2020-12-14     เมฆมาก
2020-12-15    แดดร้อน
Name: Event, dtype: object

Match & Contains

In [53]:
import pandas as pd
df = pd.read_excel(docPath+"dataupdate.xlsx", sheet_name="weather", index_col="Day")

In [54]:
df

            Temperature  WindSpeed    Event
Day
2020-12-01           30          9  แดดร้อน
2020-12-02           28          8   เมฆมาก
2020-12-03           27          4     ฝนตก
2020-12-04           19          3  แดดร้อน
2020-12-05           20          5   เมฆมาก
2020-12-06           25          6     ฝนตก
2020-12-07           36          4     ฝนตก
2020-12-08           28          6     ฝนตก
2020-12-09           17          5   เมฆมาก
2020-12-10           24          6  แดดร้อน
2020-12-11           26          4     ฝนตก
2020-12-12           27          9  แดดร้อน
2020-12-13           30          2  แดดร้อน
2020-12-14           31          5   เมฆมาก
2020-12-15           28          4  แดดร้อน
2020-12-16           27          7  แดดร้อน
2020-12-17           20          8     ฝนตก
2020-12-18           18          5     ฝนตก
2020-12-19           25          7  แดดร้อน
2020-12-20           28          4   เมฆมาก
2020-12-21           25          5   เมฆมาก
2020-12-22           38          2   เมฆมาก
2020-12-23           34          3     ฝนตก
2020-12-24           29          4     ฝนตก
2020-12-25           34          5  แดดร้อน
2020-12-26           25          8     ฝนตก
2020-12-27           28          9   เมฆมาก
2020-12-28           30          2   เมฆมาก
2020-12-29           31          1     ฝนตก
2020-12-30           35          2     ฝนตก

In [55]:
df.Event.str.match("ฝนตก")

Day
2020-12-01    False
2020-12-02    False
2020-12-03     True
2020-12-04    False
2020-12-05    False
2020-12-06     True
2020-12-07     True
2020-12-08     True
2020-12-09    False
2020-12-10    False
2020-12-11     True
2020-12-12    False
2020-12-13    False
2020-12-14    False
2020-12-15    False
2020-12-16    False
2020-12-17     True
2020-12-18     True
2020-12-19    False
2020-12-20    False
2020-12-21    False
2020-12-22    False
2020-12-23     True
2020-12-24     True
2020-12-25    False
2020-12-26     True
2020-12-27    False
2020-12-28    False
2020-12-29     True
2020-12-30     True
Name: Event, dtype: bool

In [58]:
df[df.Event.str.match("ฝนตก")]

            Temperature  WindSpeed Event
Day
2020-12-03           27          4  ฝนตก
2020-12-06           25          6  ฝนตก
2020-12-07           36          4  ฝนตก
2020-12-08           28          6  ฝนตก
2020-12-11           26          4  ฝนตก
2020-12-17           20          8  ฝนตก
2020-12-18           18          5  ฝนตก
2020-12-23           34          3  ฝนตก
2020-12-24           29          4  ฝนตก
2020-12-26           25          8  ฝนตก
2020-12-29           31          1  ฝนตก
2020-12-30           35          2  ฝนตก

In [59]:
df[df.Event.str.contains("ก")]

            Temperature  WindSpeed   Event
Day
2020-12-02           28          8  เมฆมาก
2020-12-03           27          4    ฝนตก
2020-12-05           20          5  เมฆมาก
2020-12-06           25          6    ฝนตก
2020-12-07           36          4    ฝนตก
2020-12-08           28          6    ฝนตก
2020-12-09           17          5  เมฆมาก
2020-12-11           26          4    ฝนตก
2020-12-14           31          5  เมฆมาก
2020-12-17           20          8    ฝนตก
2020-12-18           18          5    ฝนตก
2020-12-20           28          4  เมฆมาก
2020-12-21           25          5  เมฆมาก
2020-12-22           38          2  เมฆมาก
2020-12-23           34          3    ฝนตก
2020-12-24           29          4    ฝนตก
2020-12-26           25          8    ฝนตก
2020-12-27           28          9  เมฆมาก
2020-12-28           30          2  เมฆมาก
2020-12-29           31          1    ฝนตก
2020-12-30           35          2    ฝนตก

Loop in DataFrame

In [60]:
import pandas as pd
df = pd.read_excel(docPath+"dataupdate.xlsx", sheet_name="weather", index_col="Day")

In [61]:
for idx , row in df.iterrows():
    print(idx)

2020-12-01 00:00:00
2020-12-02 00:00:00
2020-12-03 00:00:00
2020-12-04 00:00:00
2020-12-05 00:00:00
2020-12-06 00:00:00
2020-12-07 00:00:00
2020-12-08 00:00:00
2020-12-09 00:00:00
2020-12-10 00:00:00
2020-12-11 00:00:00
2020-12-12 00:00:00
2020-12-13 00:00:00
2020-12-14 00:00:00
2020-12-15 00:00:00
2020-12-16 00:00:00
2020-12-17 00:00:00
2020-12-18 00:00:00
2020-12-19 00:00:00
2020-12-20 00:00:00
2020-12-21 00:00:00
2020-12-22 00:00:00
2020-12-23 00:00:00
2020-12-24 00:00:00
2020-12-25 00:00:00
2020-12-26 00:00:00
2020-12-27 00:00:00
2020-12-28 00:00:00
2020-12-29 00:00:00
2020-12-30 00:00:00

In [62]:
for idx , row in df.iterrows():
    print("อุณหภูมิ = {} , ส่งผลให้เกิด {}".format(row.Temperature, row.Event))

อุณหภูมิ = 30 , ส่งผลให้เกิด แดดร้อน
อุณหภูมิ = 28 , ส่งผลให้เกิด เมฆมาก
อุณหภูมิ = 27 , ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 19 , ส่งผลให้เกิด แดดร้อน
อุณหภูมิ = 20 , ส่งผลให้เกิด เมฆมาก
อุณหภูมิ = 25 , ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 36 , ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 28 , ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 17 , ส่งผลให้เกิด เมฆมาก
อุณหภูมิ = 24 , ส่งผลให้เกิด แดดร้อน
อุณหภูมิ = 26 , ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 27 , ส่งผลให้เกิด แดดร้อน
อุณหภูมิ = 30 , ส่งผลให้เกิด แดดร้อน
อุณหภูมิ = 31 , ส่งผลให้เกิด เมฆมาก
อุณหภูมิ = 28 , ส่งผลให้เกิด แดดร้อน
อุณหภูมิ = 27 , ส่งผลให้เกิด แดดร้อน
อุณหภูมิ = 20 , ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 18 , ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 25 , ส่งผลให้เกิด แดดร้อน
อุณหภูมิ = 28 , ส่งผลให้เกิด เมฆมาก
อุณหภูมิ = 25 , ส่งผลให้เกิด เมฆมาก
อุณหภูมิ = 38 , ส่งผลให้เกิด เมฆมาก
อุณหภูมิ = 34 , ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 29 , ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 34 , ส่งผลให้เกิด แดดร้อน
อุณหภูมิ = 25 , ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 28 , ส่งผลให้เกิด เมฆมาก
อุณหภูมิ = 30 , ส่งผลให้เกิด เมฆมาก
อุณหภูมิ = 31 , ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 35 , ส่งผลให้เกิด ฝนตก

Access by Conditions

In [95]:
import pandas as pd
df = pd.read_excel(docPath+"dataupdate.xlsx", sheet_name="weather", index_col="Day")

In [64]:
df.Temperature<=20

Day
2020-12-01    False
2020-12-02    False
2020-12-03    False
2020-12-04     True
2020-12-05     True
2020-12-06    False
2020-12-07    False
2020-12-08    False
2020-12-09     True
2020-12-10    False
2020-12-11    False
2020-12-12    False
2020-12-13    False
2020-12-14    False
2020-12-15    False
2020-12-16    False
2020-12-17     True
2020-12-18     True
2020-12-19    False
2020-12-20    False
2020-12-21    False
2020-12-22    False
2020-12-23    False
2020-12-24    False
2020-12-25    False
2020-12-26    False
2020-12-27    False
2020-12-28    False
2020-12-29    False
2020-12-30    False
Name: Temperature, dtype: bool

In [65]:
df[df.Temperature<=20]

            Temperature  WindSpeed    Event
Day
2020-12-04           19          3  แดดร้อน
2020-12-05           20          5   เมฆมาก
2020-12-09           17          5   เมฆมาก
2020-12-17           20          8     ฝนตก
2020-12-18           18          5     ฝนตก

In [66]:
df[df.Event == "แดดร้อน"]

            Temperature  WindSpeed    Event
Day
2020-12-01           30          9  แดดร้อน
2020-12-04           19          3  แดดร้อน
2020-12-10           24          6  แดดร้อน
2020-12-12           27          9  แดดร้อน
2020-12-13           30          2  แดดร้อน
2020-12-15           28          4  แดดร้อน
2020-12-16           27          7  แดดร้อน
2020-12-19           25          7  แดดร้อน
2020-12-25           34          5  แดดร้อน

In [73]:
df.loc[(df.Event=="ฝนตก") & (df.Temperature>=35)]  ### ใช้ได้แค่ "&" ไม่สามารถใช้ "and" ได้

            Temperature  WindSpeed Event
Day
2020-12-07           36          4  ฝนตก
2020-12-30           35          2  ฝนตก

In [75]:
df.loc[(df.Event=="เมฆมาก") | (df.Temperature<=18)]

            Temperature  WindSpeed   Event
Day
2020-12-02           28          8  เมฆมาก
2020-12-05           20          5  เมฆมาก
2020-12-09           17          5  เมฆมาก
2020-12-14           31          5  เมฆมาก
2020-12-18           18          5    ฝนตก
2020-12-20           28          4  เมฆมาก
2020-12-21           25          5  เมฆมาก
2020-12-22           38          2  เมฆมาก
2020-12-27           28          9  เมฆมาก
2020-12-28           30          2  เมฆมาก

In [77]:
df.loc[(df.Temperature == 18) | (df.Temperature == 20) | (df.Temperature == 25)]

            Temperature  WindSpeed   Event
Day
2020-12-05           20          5  เมฆมาก
2020-12-17           20          8    ฝนตก
2020-12-18           18          5    ฝนตก

Access DataFrame by ISIN

In [78]:
import pandas as pd
df = pd.read_excel(docPath+"dataupdate.xlsx", sheet_name="weather", index_col="Day")

In [79]:
df.loc[(df.Temperature == 18) | (df.Temperature == 20) | (df.Temperature == 25)]

            Temperature  WindSpeed    Event
Day
2020-12-05           20          5   เมฆมาก
2020-12-06           25          6     ฝนตก
2020-12-17           20          8     ฝนตก
2020-12-18           18          5     ฝนตก
2020-12-19           25          7  แดดร้อน
2020-12-21           25          5   เมฆมาก
2020-12-26           25          8     ฝนตก

In [80]:
df.loc[(df.Temperature.isin([18,20,25]))]

            Temperature  WindSpeed    Event
Day
2020-12-05           20          5   เมฆมาก
2020-12-06           25          6     ฝนตก
2020-12-17           20          8     ฝนตก
2020-12-18           18          5     ฝนตก
2020-12-19           25          7  แดดร้อน
2020-12-21           25          5   เมฆมาก
2020-12-26           25          8     ฝนตก

In [82]:
df.loc[(df.Temperature.isin([35]))]

            Temperature  WindSpeed Event
Day
2020-12-30           35          2  ฝนตก

In [83]:
df.loc[(df.Temperature.isin([30, 35]))][df.Event=="แดดร้อน"] ### เพื่มเงื่อนไข "แดดร้อน"

/var/folders/c2/9f9qy2zn5w3cpcq3wqmxk1k80000gp/T/ipykernel_33570/2276974636.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df.loc[(df.Temperature.isin([30, 35]))][df.Event=="แดดร้อน"]

            Temperature  WindSpeed    Event
Day
2020-12-01           30          9  แดดร้อน
2020-12-13           30          2  แดดร้อน