In [80]:
import pandas as pd
ps = pd.Series([10, 20, 30, 40])

In [81]:
ps

0    10
1    20
2    30
3    40
dtype: int64

ps[1]

In [82]:
ps[1]

20

In [83]:
ps[2]

30

Data Frame

In [84]:
import pandas as pd
datas = [10, 20, 30, 40, 50] ### List

In [85]:
df = pd.DataFrame(datas)
df

    0
0  10
1  20
2  30
3  40
4  50

In [86]:
datas_tp = (59, 60, 25, 35) ### tuple

In [87]:
cols = ['อายุ'] ### ต้องเป็น list เท่านั้น
df = pd.DataFrame(datas_tp, columns = cols)
df

   อายุ
0    59
1    60
2    25
3    35

Data Frame หลายมิติ

In [88]:
import pandas as pd
datas = [["คีย์บอร์ด", "IT", 4000], ["ตุ๊กตา", "ของเล่น", 500], ["เมาท์", "IT", 300]]

In [89]:
cols = ["ชื่อสินค้า", "หมวดหมู่", "ราคา"]
df = pd.DataFrame(datas, columns=cols)

In [90]:
df = pd.DataFrame(datas)

In [91]:
df

           0        1     2
0  คีย์บอร์ด       IT  4000
1     ตุ๊กตา  ของเล่น   500
2      เมาท์       IT   300

Data Frame from Lists by zip

In [92]:
import pandas as pd
product1 = ["คีย์บอร์ด", "IT", 4000]
product2 = ["ตุ๊กตา", "ของเล่น", 500]
product3 = ["เมาส์", "IT", 300 ]
datas = list(zip(product1, product2, product3))

In [93]:
cols = ["ชื่อสินค้า", "หมวดหมู่", "ราคา"]
df = pd.DataFrame(datas, columns=cols)

In [94]:
df

  ชื่อสินค้า หมวดหมู่   ราคา
0  คีย์บอร์ด   ตุ๊กตา  เมาส์
1         IT  ของเล่น     IT
2       4000      500    300

In [95]:
name = ["คีย์บอร์ด", "ตุ๊กตา", "เมาส์"]
category = ["IT", "ของเล่น", "IT"]
price = [400, 500, 300]
datas = list(zip(name, category, price))

In [96]:
cols = ["ชื่อสินค้า", "หมวดหมู่", "ราคา"]
df = pd.DataFrame(datas, columns=cols)

In [97]:
df

  ชื่อสินค้า หมวดหมู่  ราคา
0  คีย์บอร์ด       IT   400
1     ตุ๊กตา  ของเล่น   500
2      เมาส์       IT   300

Data Frame by Dictionary

In [98]:
import pandas as pd
products = [
    {"Name": "คีย์บอร์ด", "Category":"อุปกรณ์", "Price":500},
    {"Name": "เมาส​์", "Category": "อุปกรณ์คอม", "Price":300},
    {"Name": "ตุ๊กตา", "Category": "ของเล่น", "Price":9000}
]

In [99]:
pf = pd.DataFrame(products)

In [100]:
pf.set_index(["Name"],inplace=True) ### เปลี่ยนหมายเลข index เป็น Name , inplace เป็นการนำค่าที่ set ไปทับใน data Frame จะทำให้การแสดงผลจะไม่แสดงหมายเลข index ที่ระบบ gen ให้

In [101]:
pf

             Category  Price
Name
คีย์บอร์ด     อุปกรณ์    500
เมาส​์     อุปกรณ์คอม    300
ตุ๊กตา        ของเล่น   9000

Data Frame by Series

In [102]:
import pandas as pd
name = ["คีย์บอร์ด", "ตุ๊กตา", "Iphone14"]
category = ["อุปกรณ์คอม", "ของเล่น", "มือถือ"]
price = [1200, 900, 400000]

In [103]:
name_series=pd.Series(name)
category_series=pd.Series(category)
price_series=pd.Series(price)

In [104]:
frame = {
    "ชื่อสินค้า":name_series,
    "หมวดหมู่":category_series,
    "ราคา":price_series
}

In [105]:
pf = pd.DataFrame(frame)

Data Frame To CSV

In [106]:
pf.to_csv("/Users/thanawitchaisuphapsirikun/Works/Trainning/python/pandas/docs/products.csv", header=True, index=False)

In [107]:
pf.to_csv("/Users/thanawitchaisuphapsirikun/Works/Trainning/python/pandas/docs/products_headless.csv", header=False, index=True)

Data Frame From CSV

In [108]:
import pandas as pd
pf = pd.read_csv("/Users/thanawitchaisuphapsirikun/Works/Trainning/python/pandas/docs/products.csv", encoding="utf-8")

In [109]:
pf

  ชื่อสินค้า    หมวดหมู่    ราคา
0  คีย์บอร์ด  อุปกรณ์คอม    1200
1     ตุ๊กตา     ของเล่น     900
2   Iphone14      มือถือ  400000

Data Frame From CSV (อ่านเฉพาะบาง Columns)

In [3]:
import pandas as pd
cols = ["ชื่อสินค้า", "ราคา"]
df = pd.read_csv("/Users/thanawitchaisuphapsirikun/Works/Trainning/python/pandas/docs/products.csv", encoding="utf-8", usecols=cols)

In [4]:
df

  ชื่อสินค้า    ราคา
0  คีย์บอร์ด    1200
1     ตุ๊กตา     900
2   Iphone14  400000

Data Frame read CSV แต่กำหนด header

In [5]:
import pandas as pd
colsName = ["Name", "category", "Price"]
df = pd.read_csv("/Users/thanawitchaisuphapsirikun/Works/Trainning/python/pandas/docs/products.csv", encoding="utf-8", names=colsName)

In [6]:
df

         Name    category   Price
0  ชื่อสินค้า    หมวดหมู่    ราคา
1   คีย์บอร์ด  อุปกรณ์คอม    1200
2      ตุ๊กตา     ของเล่น     900
3    Iphone14      มือถือ  400000

Data Frame read from excel

In [16]:
import pandas as pd
dataf = pd.read_excel('dataupdate.xlsx',sheet_name='weather', index_col="Day")
dataf

            Temperature  WindSpeed    Event
Day
2020-12-01           30          9  แดดร้อน
2020-12-02           28          8   เมฆมาก
2020-12-03           27          4     ฝนตก
2020-12-04           19          3  แดดร้อน
2020-12-05           20          5   เมฆมาก
2020-12-06           25          6     ฝนตก
2020-12-07           36          4     ฝนตก
2020-12-08           28          6     ฝนตก
2020-12-09           17          5   เมฆมาก
2020-12-10           24          6  แดดร้อน
2020-12-11           26          4     ฝนตก
2020-12-12           27          9  แดดร้อน
2020-12-13           30          2  แดดร้อน
2020-12-14           31          5   เมฆมาก
2020-12-15           28          4  แดดร้อน
2020-12-16           27          7  แดดร้อน
2020-12-17           20          8     ฝนตก
2020-12-18           18          5     ฝนตก
2020-12-19           25          7  แดดร้อน
2020-12-20           28          4   เมฆมาก
2020-12-21           25          5   เมฆมาก
2020-12-22           38          2   เมฆมาก
2020-12-23           34          3     ฝนตก
2020-12-24           29          4     ฝนตก
2020-12-25           34          5  แดดร้อน
2020-12-26           25          8     ฝนตก
2020-12-27           28          9   เมฆมาก
2020-12-28           30          2   เมฆมาก
2020-12-29           31          1     ฝนตก
2020-12-30           35          2     ฝนตก

In [13]:
pip install openpyxl --upgrade

Requirement already satisfied: openpyxl in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (2.6.3)
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 4.9 MB/s eta 0:00:0000:01
Requirement already satisfied: et-xmlfile in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from openpyxl) (1.0.1)
Installing collected packages: openpyxl
  Attempting uninstall: openpyxl
    Found existing installation: openpyxl 2.6.3
    Uninstalling openpyxl-2.6.3:
      Successfully uninstalled openpyxl-2.6.3
Successfully installed openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

Access DataFrame

In [17]:
dataf.head()

            Temperature  WindSpeed    Event
Day
2020-12-01           30          9  แดดร้อน
2020-12-02           28          8   เมฆมาก
2020-12-03           27          4     ฝนตก
2020-12-04           19          3  แดดร้อน
2020-12-05           20          5   เมฆมาก

In [19]:
dataf.tail(10)   # 10 แถวสุดท้าย

            Temperature  WindSpeed    Event
Day
2020-12-21           25          5   เมฆมาก
2020-12-22           38          2   เมฆมาก
2020-12-23           34          3     ฝนตก
2020-12-24           29          4     ฝนตก
2020-12-25           34          5  แดดร้อน
2020-12-26           25          8     ฝนตก
2020-12-27           28          9   เมฆมาก
2020-12-28           30          2   เมฆมาก
2020-12-29           31          1     ฝนตก
2020-12-30           35          2     ฝนตก

In [20]:
dataf.sample()  # สุ่มแสดงข้อมูล

            Temperature  WindSpeed    Event
Day
2020-12-10           24          6  แดดร้อน

In [21]:
dataf.describe() #นำข้อมูลมาสรุปผล เป็น count, min, max , percentie

       Temperature  WindSpeed
count    30.000000  30.000000
mean     27.433333   5.066667
std       5.237026   2.288402
min      17.000000   1.000000
25%      25.000000   4.000000
50%      28.000000   5.000000
75%      30.000000   6.750000
max      38.000000   9.000000

In [22]:
dataf.shape  # แสดงข้อมูล จำนวน row , columns

(30, 3)

In [23]:
dataf.columns

Index(['Temperature', 'WindSpeed', 'Event'], dtype='object')

In [24]:
dataf.values  # แสดงข้อมูลเป็น array

array([[30, 9, 'แดดร้อน'],
       [28, 8, 'เมฆมาก'],
       [27, 4, 'ฝนตก'],
       [19, 3, 'แดดร้อน'],
       [20, 5, 'เมฆมาก'],
       [25, 6, 'ฝนตก'],
       [36, 4, 'ฝนตก'],
       [28, 6, 'ฝนตก'],
       [17, 5, 'เมฆมาก'],
       [24, 6, 'แดดร้อน'],
       [26, 4, 'ฝนตก'],
       [27, 9, 'แดดร้อน'],
       [30, 2, 'แดดร้อน'],
       [31, 5, 'เมฆมาก'],
       [28, 4, 'แดดร้อน'],
       [27, 7, 'แดดร้อน'],
       [20, 8, 'ฝนตก'],
       [18, 5, 'ฝนตก'],
       [25, 7, 'แดดร้อน'],
       [28, 4, 'เมฆมาก'],
       [25, 5, 'เมฆมาก'],
       [38, 2, 'เมฆมาก'],
       [34, 3, 'ฝนตก'],
       [29, 4, 'ฝนตก'],
       [34, 5, 'แดดร้อน'],
       [25, 8, 'ฝนตก'],
       [28, 9, 'เมฆมาก'],
       [30, 2, 'เมฆมาก'],
       [31, 1, 'ฝนตก'],
       [35, 2, 'ฝนตก']], dtype=object)

Data Frame with Static

In [28]:
import pandas as pd
df = pd.read_excel("/Users/thanawitchaisuphapsirikun/Works/Trainning/python/pandas/docs/dataupdate.xlsx",sheet_name="score", index_col="Name")

df

           Score  Age Gender Grade
Name
อาทิตย์       90   20    ชาย     A
นิตยา         75   18   หญิง     B
โจโจ้         88   22    ชาย     A
แก้มใส        65   19   หญิง     C
ตั๊กแตน       82   23   หญิง     A
เก๋ไก๋        50   20   หญิง     D
วุฒิชัย       45   17    ชาย     F
ชัยสิทธิ์     62   18    ชาย     C
ธนาวุฒิ       95   19    ชาย     A

In [29]:
df.Score

Name
อาทิตย์      90
นิตยา        75
โจโจ้        88
แก้มใส       65
ตั๊กแตน      82
เก๋ไก๋       50
วุฒิชัย      45
ชัยสิทธิ์    62
ธนาวุฒิ      95
Name: Score, dtype: int64

In [31]:
df.Score.max()

95

In [32]:
df.Score.min()

45

In [33]:
df.Score.std()

17.95209675157133

In [34]:
df.Score.count()

9

In [35]:
df.Score.sum()

652

In [36]:
df.Score.mean()

72.44444444444444

In [37]:
df.Score.sum() / df.Score.count()

72.44444444444444

In [39]:
df.dtypes

Score      int64
Age        int64
Gender    object
Grade     object
dtype: object

In [41]:
df.Grade = df.Grade.astype('category')
df.dtypes

Score        int64
Age          int64
Gender      object
Grade     category
dtype: object

Access DataFrame with Columns

In [47]:
import pandas as pd
df = pd.read_excel("/Users/thanawitchaisuphapsirikun/Works/Trainning/python/pandas/docs/dataupdate.xlsx",sheet_name="weather", index_col="Day")

In [48]:
df.Temperature

Day
2020-12-01    30
2020-12-02    28
2020-12-03    27
2020-12-04    19
2020-12-05    20
2020-12-06    25
2020-12-07    36
2020-12-08    28
2020-12-09    17
2020-12-10    24
2020-12-11    26
2020-12-12    27
2020-12-13    30
2020-12-14    31
2020-12-15    28
2020-12-16    27
2020-12-17    20
2020-12-18    18
2020-12-19    25
2020-12-20    28
2020-12-21    25
2020-12-22    38
2020-12-23    34
2020-12-24    29
2020-12-25    34
2020-12-26    25
2020-12-27    28
2020-12-28    30
2020-12-29    31
2020-12-30    35
Name: Temperature, dtype: int64

In [49]:
df.Temperature[1:6]

Day
2020-12-02    28
2020-12-03    27
2020-12-04    19
2020-12-05    20
2020-12-06    25
Name: Temperature, dtype: int64

In [50]:
df.Temperature[0:6]

Day
2020-12-01    30
2020-12-02    28
2020-12-03    27
2020-12-04    19
2020-12-05    20
2020-12-06    25
Name: Temperature, dtype: int64

In [51]:
df[["Temperature", "Event"]]

            Temperature    Event
Day
2020-12-01           30  แดดร้อน
2020-12-02           28   เมฆมาก
2020-12-03           27     ฝนตก
2020-12-04           19  แดดร้อน
2020-12-05           20   เมฆมาก
2020-12-06           25     ฝนตก
2020-12-07           36     ฝนตก
2020-12-08           28     ฝนตก
2020-12-09           17   เมฆมาก
2020-12-10           24  แดดร้อน
2020-12-11           26     ฝนตก
2020-12-12           27  แดดร้อน
2020-12-13           30  แดดร้อน
2020-12-14           31   เมฆมาก
2020-12-15           28  แดดร้อน
2020-12-16           27  แดดร้อน
2020-12-17           20     ฝนตก
2020-12-18           18     ฝนตก
2020-12-19           25  แดดร้อน
2020-12-20           28   เมฆมาก
2020-12-21           25   เมฆมาก
2020-12-22           38   เมฆมาก
2020-12-23           34     ฝนตก
2020-12-24           29     ฝนตก
2020-12-25           34  แดดร้อน
2020-12-26           25     ฝนตก
2020-12-27           28   เมฆมาก
2020-12-28           30   เมฆมาก
2020-12-29           31     ฝนตก
2020-12-30           35     ฝนตก

In [52]:
df[["Temperature", "Event"]][1:2]

            Temperature   Event
Day
2020-12-02           28  เมฆมาก

Access DataFrame by Row

In [53]:
import pandas as pd
df = pd.read_excel("/Users/thanawitchaisuphapsirikun/Works/Trainning/python/pandas/docs/dataupdate.xlsx",sheet_name="weather", index_col="Day")

In [54]:
df[1:4]

            Temperature  WindSpeed    Event
Day
2020-12-02           28          8   เมฆมาก
2020-12-03           27          4     ฝนตก
2020-12-04           19          3  แดดร้อน

In [55]:
df[0:3].WindSpeed

Day
2020-12-01    9
2020-12-02    8
2020-12-03    4
Name: WindSpeed, dtype: int64

In [56]:
df.loc["2020-12-02"]["Event"]

'เมฆมาก'

In [57]:
df.loc["2020-12-02":"2020-12-15"]["Event"]

Day
2020-12-02     เมฆมาก
2020-12-03       ฝนตก
2020-12-04    แดดร้อน
2020-12-05     เมฆมาก
2020-12-06       ฝนตก
2020-12-07       ฝนตก
2020-12-08       ฝนตก
2020-12-09     เมฆมาก
2020-12-10    แดดร้อน
2020-12-11       ฝนตก
2020-12-12    แดดร้อน
2020-12-13    แดดร้อน
2020-12-14     เมฆมาก
2020-12-15    แดดร้อน
Name: Event, dtype: object